@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #121312;
    background-image: url('https://clickhouse.com/dot_grid.svg');
    background-repeat: repeat;
}

section {
    display: flex;
    justify-content: center;
}

.app_width {
    width: 330px;
    max-width: 100%;
}