@import './base.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #121312;
    background-image: url('https://clickhouse.com/dot_grid.svg');
    background-repeat: repeat;
}

section {
    display: flex;
    justify-content: center;
}

.app_width {
    width: 330px;
    max-width: 100%;
}