@import './base.css';

body {
    min-width: 350px;
    min-height: 600px;
    max-width: 350px;
    background: var(--bg-color);
}

section {
    display: flex;
    justify-content: center;
}

.app_width {
    width: 330px;
    max-width: 100%;
}